*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* By default 1rem = 12pt = 16px = 100% */
  /* we want to use rem as 1rem === 10px */
  /* we need it in percentage for user accessibility */
  /* Convert 10px to % */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.grid {
  display: grid;
}
