/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #e67e22
- Tints:
#fdf2e9
#fae5d3
#eb984e

- Shades: 
#cf711f
#45260a

- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
@font-face {
  font-family: "Roobert";
  src: url("./fonts/roobert/RoobertLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roobert";
  src: url("./fonts/roobert/RoobertRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roobert";
  src: url("./fonts/roobert/RoobertMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roobert";
  src: url("./fonts/roobert/RoobertSemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Roobert";
  src: url("./fonts/roobert/RoobertBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --bg-dark: #111417;
  --color-brand: #f8f663;

  --color-green--1: #2ac44b;
  --color-green--2: #2ac44b33;

  --color-blue--1: #4267df;
  --color-blue--2: #4267df33;

  --color-yellow--1: #ffff25;
  --color-yellow--2: #ffff2533;

  --color-purple--1: #a851fff5;
  --color-purple--2: #a851fe33;

  --color-dark--0: #000;
  --color-dark--1: #333;
  --color-dark--2: #555;
  --color-dark--3: #1e2329;

  --color-light--1: rgba(252, 251, 199, 0.42);
  --color-light--2: #ececec;
  --color-light--3: #d6dee0;
  --color-white: #fff;
}

/**************************/
/* GLOBAL RESET */
/**************************/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus-visible {
  outline: none;
}

html {
  /* By default 1rem = 12pt = 16px = 100% */
  /* we want to use rem as 1rem === 10px */
  /* Rem inherits from its parent so by setting Font-size: 10px then 1rem === 10px*/
  /* we need it in percentage for user accessibility */
  /* Convert 10px to % */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Roobert", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  background-color: var(--bg-dark);
  font-size: 1.6rem;
  position: relative;
  overflow-x: hidden;
}

img {
  width: 100%;
}

/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 5rem;
}

.btn {
  border: none;
  border-radius: 1rem;
  padding: 1.2rem 5rem;
  font-weight: 700;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);

  cursor: pointer;
}

.btn--brand {
  background-color: var(--color-brand);
  color: #000;
}

.btn--light {
  background-color: var(--color-white);
  color: #000;
}

.btn--dark {
  background-color: var(--color-dark--0);
  color: var(--color-brand);
  /* border: 1px solid var(--color-brand); */
}

.btn--lg {
  padding: 1.6rem 4.8rem;
}

.btn--md {
  padding: 1.3rem 7rem;
}

.grid {
  display: grid;
  /* column-gap: 2rem; */
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

/* HELPER/SETTINGS CLASSES */
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-top-md {
  margin-top: 2.4rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 600;
}
