*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo {
  width: 8.4rem;
}

/**************************/
/* HEADER */
/**************************/

.header {
  display: flex;
  align-items: center;
  background-color: var(--color-light--1);
  height: 7.2rem;
  padding: 0 3rem;
  position: relative;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  margin: 2rem 2rem 0 2rem;
  border-radius: 4rem;
  gap: 6rem;
}

.sticky .header {
  margin: 0;
  position: fixed;
  border-radius: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  background-color: rgba(255, 255, 255, 0.97);
  align-items: center;
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  /* backdrop-filter: blur(10px); */
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav__list {
  font-size: 1.8rem;
  display: flex;
  gap: 4rem;
  list-style: none;
}

.main-nav__link:link,
.main-nav__link:visited {
  display: inline-block;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-dark--0);
  transition: transform 0.4s ease-out;
}

.main-nav__link:hover,
.main-nav__link:active {
  transform: scale(1.2);
}

.nav__ctas-wrapper {
  margin-left: auto;
}

/**************************/
/* HERO SECTION */
/**************************/

.section--hero {
  padding: 0.5rem 0 5rem 0;
  text-align: center;
  background-color: var(--color-brand);
}

.hero-content-box {
  margin-top: 4.5rem;
}

.sticky .hero-content-box {
  margin-top: 13.7rem;
}

.bg-shadow-blur {
  position: relative;
}

.bg-shadow-blur::before {
  content: "";
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  -webkit-transform: translate(50%, 50%);
  -moz-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  -o-transform: translate(50%, 50%);
  --size: 430px;
  width: var(--size);
  height: var(--size);
  background-color: hsla(280, 69%, 64%, 0.5);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  filter: blur(100px);
  -webkit-filter: blur(100px);
}
.bg-shadow-blur > * {
  position: relative;
  z-index: 2;
}
.hero-img {
  width: 27.8rem;
  margin: 3rem auto;
}

.h2 {
  font-size: 3.2rem;
  font-weight: 600;
}

.headline {
  font-size: 7.6rem;
  font-weight: 700;
  letter-spacing: 3px;
}

.subheadline {
  font-weight: 600;
  margin-top: 1rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.feature-icon-wrapper {
  height: 3.8rem;
  width: 3.8rem;
}

/* CTA */
.cta-input-wrapper {
  display: flex;
  align-items: stretch;
  width: 44rem;
  margin: 0 auto 1.2rem auto;
}

.cta-input-wrapper button {
  width: 40%;
}

.cta-input {
  width: 60%;
  padding: 0rem 2rem;
  height: 4.2rem;
  border: none;
  border-radius: 1.5rem;
  transition: all 1s;
}

.cta-input-wrapper button {
  margin-left: -2rem;
  width: 40%;
  transition: all 1s;
  right: auto;
}
.btn-grow .cta-input-wrapper {
  position: relative;
}
.btn-grow .cta-input-wrapper button {
  position: absolute;
  margin-left: 0;
  width: 100%;
  right: 0;
}

.cta-description {
  font-size: 1.5rem;
}

.cta-strong {
  font-weight: 600;
}

/* FEATURES */

.features-grid {
  display: grid;
  gap: 1.5rem;
  margin-top: 5rem;
}

.feature-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 2rem;
  padding: 3rem;
  background-color: var(--color-light--1);
}

.feature-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-dark--0);
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}

.feature-icon-wrapper img {
  width: 70%;
}

.feature-wrapper p {
  font-weight: 500;
  line-height: 2;
  text-align: left;
}

/**************************/
/* SECTION ABOUT */
/**************************/
.section--about {
  padding: 8rem 0 0 0;
}

.about-item {
  align-items: end;
}

.section-subtitle {
  font-size: 2.4rem;
  font-weight: 500;
}

h2 {
  font-size: 9.6rem;
  font-weight: 700;
  margin: 1.8rem 0 4rem 0;
}

.about-description-box,
.vision-description-box {
  font-size: inherit;
  line-height: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

.about-item:nth-child(2) {
  margin: 10rem 0;
  grid-template-columns: 1.5fr 2fr;
}

.different {
  margin: 1.2rem 0 2.4rem 0;
}

h3 {
  font-size: 6.4rem;
}

.copyright {
  text-align: end;
  margin: 15rem 0 6rem 0;
  font-size: 1.4rem;
  margin-right: 4rem;
}

/**************************/
/* SECTION VISION */
/**************************/
.section--our-vision {
  padding: 15rem 5rem;
  background-color: var(--color-brand);
}

.our-vision-header {
  font-size: 2rem;
  font-weight: 500;
  position: absolute;
  top: 5rem;
  left: 5rem;
}

.our-vision-wrapper {
  position: relative;
  border-radius: 2.8rem;
  border: 2px solid #333;
  padding: 5rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1.5fr 2fr;
}

h4 {
  font-size: 5.6rem;
  font-weight: 700;
  width: 60%;
}

/**************************/
/* SECTION TEAM */
/**************************/
.section--our-team {
  padding: 13rem 0 10rem 10rem;
}

h5 {
  font-size: 4rem;
  line-height: 3.2rem;
  font-weight: 700;
}

.team-subtitle {
  margin: 1.8rem 0 6rem 0;
}

.team-list {
  display: flex;
  gap: 0.3rem;
}

.team-list::-webkit-scrollbar {
  display: none;
}

.team-member {
  width: 30rem;
  height: 45rem;
}

.team-member img {
  width: 100%;
}
.team-member:not(:last-child) {
  margin-right: 0.2rem;
}

.team-member__details {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin-top: 2rem;
}

.team-member__position {
  color: #777;
  font-size: 1.4rem;
}

.team-desc {
  margin-top: 5rem;
  width: 60%;
  line-height: 3.2rem;
}

.scroll-up-box {
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  z-index: 99;
  position: absolute;
  right: 2.5rem;
  bottom: 15rem;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.105);
}
