*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo {
  width: 8.4rem;
}

/**************************/
/* HEADER */
/**************************/

.header {
  display: flex;
  align-items: center;
  height: 6.4rem;
  padding: 0 5rem;
  margin: 2rem 5rem 0 5rem;
  border-radius: 4rem;
  gap: 10rem;
}

.sticky .header {
  margin: 0;
  position: fixed;
  border-radius: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  background-color: #101316f2;
  align-items: center;
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav {
  margin-left: auto;
}

.main-nav__list {
  font-size: 1.8rem;
  display: flex;
  gap: 4rem;
  list-style: none;
}

.main-nav__link:link,
.main-nav__link:visited {
  display: inline-block;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  transition: color 0.2s;
}

.main-nav__link:hover,
.main-nav__link:active {
  /* transform: scale(1.2); */
  color: var(--color-brand);
}

/**************************/
/* HERO SECTION */
/**************************/

.section--hero {
  padding: 0.5rem 0 5rem 0;
}

.hero-content-box {
  margin-top: 6rem;
  align-items: center;
}

.sticky .hero-content-box {
  margin-top: 13.7rem;
}

.bg-shadow-blur {
  position: relative;
}

.hero-img {
  width: 100%;
  margin: 3rem auto;
}

.h2 {
  font-size: 5.6rem;
  color: var(--color-brand);
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.headline {
  font-size: 6.4rem;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 4.2rem;
}

.subheadline {
  font-weight: 500;
  margin-top: 1rem;
  width: 34rem;
  margin-bottom: 6rem;
  line-height: 24px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.feature-icon-wrapper {
  height: 3.8rem;
  width: 3.8rem;
}

/* CTA */
.cta-input-wrapper {
  display: flex;
  align-items: stretch;
  width: 44rem;
  margin-bottom: 2rem;
  /* background-color: #fff; */
}

.cta-input-wrapper button {
  width: 40%;
}

.cta-input {
  width: 60%;
  height: 4.16rem;
  padding: 0rem 2rem;
  border: none;
  border-radius: 1rem;
  transition: all 1s;
  margin-right: -12px;
}

.cta-input-wrapper button {
  width: 40%;
  transition: all 1s;
  right: auto;
}

.btn-grow .cta-input-wrapper {
  position: relative;
}

.btn-grow .cta-input-wrapper button {
  position: absolute;
  margin-left: 0;
  width: 100%;
  right: 0;
}

.cta-description {
  font-size: 1.4rem;
  font-weight: 300;
}

.cta-strong {
  font-weight: 600;
}

/* FEATURES */

.features-grid {
  display: grid;
  gap: 1.5rem;
  margin-top: 7rem;
}

.feature-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 10px;
  padding: 2.5rem;
  background-color: var(--color-dark--3);
}

.feature-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-dark--0);
  height: 5.6rem;
  width: 5.6rem;
  border-radius: 10px;
}

.feature-icon-wrapper--1 {
  background-color: var(--color-green--2);
}

.feature-icon-wrapper--2 {
  background-color: var(--color-blue--2);
}

.feature-icon-wrapper--3 {
  background-color: var(--color-yellow--2);
}

.feature-icon-wrapper--4 {
  background-color: var(--color-purple--2);
}

.feature-icon {
  width: 2.4rem;
}

.feature-wrapper p {
  line-height: 2;
  text-align: left;
}

/**************************/
/* SECTION ABOUT */
/**************************/
.section--about {
  padding: 23.5rem 0;
}

.about-item {
  align-items: end;
  /* padding: 0 7rem; */
}

.section-subtitle {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

h2 {
  font-size: 5.6rem;
  font-weight: 700;
  margin-bottom: 4rem;
  color: var(--color-brand);
}

.about-description-box,
.vision-description-box {
  font-size: inherit;
  line-height: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.about-item {
  padding: 0 4rem;
  grid-template-columns: 55% 45%;
}

.about-item:nth-child(2) {
  grid-template-columns: 45% 55%;
  margin: 25rem 0;
}

.rubix-container {
  width: 70%;
  justify-self: end;
  position: relative;
}

.rubix {
  width: 100%;
}

.naira {
  color: var(--color-dark--0);
  font-size: 2.5rem;
  position: absolute;
  font-weight: 500;
}

.naira--1 {
  top: 15%;
  right: 57%;
  transform: rotate(-130deg);
}

.naira--2 {
  transform: rotate(-25deg);
  bottom: 9%;
  right: 36%;
}

.plane-container {
  justify-self: start;
  width: 85%;
}

.plane {
  width: 100%;
}

h3 {
  font-size: 5.6rem;
  font-weight: 700;
  color: var(--color-brand);
}

.different {
  margin: 1.2rem 0 2.4rem 0;
}

.copyright {
  text-align: end;
  margin: 15rem 0 6rem 0;
  font-size: 1.4rem;
  margin-right: 4rem;
}

/**************************/
/* SECTION VISION */
/**************************/

.our-vision-header {
  font-size: 2rem;
  font-weight: 500;
  position: absolute;
  top: 5rem;
  left: 5rem;
}

.our-vision-wrapper {
  position: relative;
  border-radius: 2rem;
  border: 1px solid var(--color-brand);
  padding: 5rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1.5fr 2fr;
}

h4 {
  font-size: 5.6rem;
  font-weight: 700;
  width: 60%;
}

/**************************/
/* SECTION TEAM */
/**************************/
.section--our-team {
  padding: 16.8rem 0 10rem 0rem;
  text-align: center;
  max-width: 110rem;
  margin: 0 auto;
}

h5 {
  font-size: 4rem;
  line-height: 3.2rem;
  font-weight: 700;
}

.team-subtitle {
  margin: 1.8rem 0 6rem 0;
}

.team-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  margin-bottom: 4rem;
}

.team-member {
  border-radius: 1rem;
  background-color: var(--color-dark--3);
  display: flex;
  align-items: start;
  gap: 3.7rem;
  padding: 2.4rem;
  justify-content: space-between;
}

.team-img-box {
  width: 8.8rem;
  height: 8.8rem;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.team-img-box--1 {
  background-position: 100% 60%;
  background-image: url("./assets/images/team/1.png");
}

.team-img-box--2 {
  background-image: url("./assets/images/team/2.png");
}

.team-img-box--3 {
  background-image: url("./assets/images/team/5.png");
}

.team-img-box--4 {
  background-image: url("./assets/images/team/4.png");
}

.team-img-box--5 {
  background-image: url("./assets/images/team/6.png");
}

.team-img-box--6 {
  background-position: 100% 0%;
  background-image: url("./assets/images/team/3.png");
}

.team-img-box--7 {
  background-position: 20% 30%;
  background-image: url("./assets/images/team/7.png");
}

.team-member:not(:last-child) {
  margin-right: 0.2rem;
}

.team-member__details {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  text-align: start;
}

.team-member__position {
  color: #ffffff99;
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.team-desc {
  line-height: 3.2rem;
}

.scroll-up-box {
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  z-index: 99;
  position: absolute;
  right: 2.5rem;
  bottom: 2rem;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.105);
}

.bino {
  height: 80px;
  width: 80px;
}

.avail {
  gap: 4rem;
  border-radius: 10px;
  padding: 20px;
  max-width: 260px;
  background-color: var(--color-brand);
}

.avail p {
  color: var(--color-dark--3);
  max-width: 100%;
  word-wrap: break-word;
}

.avail button {
  display: block;
  margin-top: 10px;
}

.faq {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 1.5fr 2fr;
}

ul {
  list-style-type: none;
}

.faq-item {
  gap: 4rem;
  border-radius: 10px;
  padding: 25px;
  background-color: #1e2329;
  margin-top: 5px;
}

.couple {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 14px;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in;
}

.faqActive .content {
  max-height: 100px;
}

.faqActive .content {
  display: block;
}

.footer-cta {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.foot {
  border: 1px solid var(--color-brand);
  padding: 20rem;
  margin-top: 20rem;
  margin-right: 1rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-t {
  letter-spacing: 25px;
}

.diff {
  color: var(--color-brand);
  margin-bottom: 20px;
}

.btn--outline {
  max-width: 150px;
  padding: 10px;
  margin-left: 27rem;
  border: 1px solid #f8f663;
  border-radius: 10px;
  color: #f8f663;
  background: #101316f2;
  letter-spacing: 5px;
}

.btn--outline:hover {
  max-width: 150px;
  padding: 10px;
  cursor: pointer;
}


#section--faq {
  margin-top: 10.438rem;
  margin
}

.footer-container {
  display: flex;
  align-items: top;
  margin-right: 1rem;
  margin-left: 1rem;
  justify-content: space-between;
  padding: 20px;
  background-color: #1E2329;
  border-top: 1px solid #F8F663;
  height: 100%;
}

.logo-foot {
  width: 218px;
  height: 218px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-right: 1px solid #F8F663;

}

.logo-foot img {
  width: 74px;
  height: 26px;
}

.nav__list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 16px;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 140px;
}

.nav__list-1 {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 16px;
  align-items: top;
  justify-content: center;
  width: 100%;
  height: 140px;
}

.footer-nav-1 {
  width: 100%;
  border-right: 1px solid #F8F663;
  height: 100%;
}

.footer-nav-2 {
  display: flex;
  align-items: top;
}

.nav__item {
  min-width: 72px;
}

.nav__item-1 {
  color: #1E2329;
}

.nav__item-2 {
  color: #1E2329;
}

.nav__item-3 {
  color: #1E2329;
}

.line {
  padding-left: 1px;
  border-left: 2px solid #1E2329;
  max-height: 51px;
}

/* .nav__item:last-child {
  margin-right: 0;
} */

.nav-link {
  text-decoration: none;
  color: #f8f663;
  margin-right: 10px;
}

.nav-link:hover {
  text-decoration: underline;
}

.terms-1 {
  background-color: #F8F663;
  height: 100px;
  width: 100%;
}

.socials {
  display: flex;
  width: 175px;
  flex-direction: column;
  /* padding-top: 30px; */
}

.follow {
  display: flex;
  color: #F8F663;
  padding: 20px;
  justify-content: center;
  align-items: center;

}

.footer-socials {
  display: flex;
  border-top: 1px solid #F8F663;
  height: 84px;
}

.socials p {
  margin: 0;

}

.twit {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.link {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.terms {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.scroll-up-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #000;
  border-radius: 50%;
  transition: opacity 0.3s ease;

}

.scroll-up {
  color: #000;
  font-size: 24px;
}

.scroll-up-box:hover {
  opacity: 0.8;
}


.foot {
  position: relative;
  margin-top: 16.313rem;
}

.first {
  display: flex;
  flex-direction: column;
}

.last {
  width: calc(100% - 20px);
  background-color: #F8F663;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;

  margin-left: 10px;

}

.top-left-first {
  position: absolute;
  width: 86.99px;
  height: 80.82px;
  top: 0px;
  left: 0px;
  gap: 0px;
  opacity: 0px;
  transform: rotate(-28deg);
}

.top-left-second {
  position: absolute;
  width: 86.99px;
  height: 80.82px;
  top: 16px;
  left: 15px;
  gap: 0px;
  opacity: 0px;
  transform: rotate(-28deg);
}

.top-left-third {
  position: absolute;
  width: 86.99px;
  height: 80.82px;
  top: 32px;
  left: 29px;
  gap: 0px;
  opacity: 0px;
  transform: rotate(-28deg);
}

.top-left-fourth {
  position: absolute;
  width: 86.99px;
  height: 80.82px;
  top: 48px;
  left: 45px;
  gap: 0px;
  opacity: 0px;
  transform: rotate(-28deg);
}


.top-left-fifth {
  position: absolute;
  width: 86.99px;
  height: 80.82px;
  top: 64px;
  left: 59px;
  gap: 0px;
  opacity: 0px;
  transform: rotate(-28deg);
}

.top-right-first {
  position: absolute;
  width: 86.99px;
  height: 80.82px;
  top: 0px;
  right: 0px;
  gap: 0px;
  opacity: 0px;
  transform: rotate(15deg);

}

.top-right-second {
  position: absolute;
  width: 86.99px;
  height: 80.82px;
  top: 16px;
  right: 16px;
  gap: 0px;
  opacity: 0px;
  transform: rotate(15deg);

}

.top-right-third {
  position: absolute;
  width: 86.99px;
  height: 80.82px;
  top: 32px;
  right: 31px;
  gap: 0px;
  opacity: 0px;
  transform: rotate(15deg);

}

.top-right-fourth {
  position: absolute;
  width: 86.99px;
  height: 80.82px;
  top: 48px;
  right: 47px;
  gap: 0px;
  opacity: 0px;
  transform: rotate(15deg);

}

.top-right-fifth {
  position: absolute;
  width: 86.99px;
  height: 80.82px;
  top: 64px;
  right: 63px;
  gap: 0px;
  opacity: 0px;
  transform: rotate(15deg);
}

.bottom-left-first {
  position: absolute;
  width: 56.99px;
  height: 50.82px;
  bottom: 0px;
  left: 0px;
  opacity: 0px;
  transform: rotate(2deg);
}

.bottom-left-second {
  position: absolute;
  width: 56.99px;
  height: 50.82px;
  bottom: 8px;
  left: 7px;
  opacity: 0px;
  transform: rotate(2deg);
}

.bottom-left-third {
  position: absolute;
  width: 56.99px;
  height: 50.82px;
  bottom: 16px;
  left: 14px;
  opacity: 0px;
  transform: rotate(2deg);
}


.bottom-left-fourth {
  position: absolute;
  width: 56.99px;
  height: 50.82px;
  bottom: 24px;
  left: 20px;
  opacity: 0px;
  transform: rotate(2deg);
}

.bottom-left-fifth {
  position: absolute;
  width: 56.99px;
  height: 50.82px;
  bottom: 32px;
  left: 27px;
  opacity: 0px;
  transform: rotate(2deg);
}

.bottom-left-sixth {
  position: absolute;
  width: 56.99px;
  height: 50.82px;
  bottom: 40px;
  left: 34px;
  opacity: 0px;
  transform: rotate(2deg);
}

.bottom-left-seventh {
  position: absolute;
  width: 56.99px;
  height: 50.82px;
  bottom: 48px;
  left: 40px;
  opacity: 0px;
  transform: rotate(2deg);
}

.bottom-left-eight {
  position: absolute;
  width: 56.99px;
  height: 50.82px;
  bottom: 56px;
  left: 46px;
  opacity: 0px;
  transform: rotate(2deg);
}

.bottom-right-first {
  position: absolute;
  width: 56.99px;
  height: 50.82px;
  bottom: 0px;
  right: 0px;
  opacity: 0px;
  transform: rotate(2deg);

}

.bottom-right-second {
  position: absolute;
  width: 56.99px;
  height: 50.82px;
  bottom: 8px;
  right: 7px;
  opacity: 0px;
  transform: rotate(2deg);
}


.bottom-right-third {
  position: absolute;
  width: 56.99px;
  height: 50.82px;
  bottom: 16px;
  right: 14px;
  opacity: 0px;
  transform: rotate(2deg);
}


.bottom-right-fourth {
  position: absolute;
  width: 56.99px;
  height: 50.82px;
  bottom: 23px;
  right: 20px;
  opacity: 0px;
  transform: rotate(2deg);
}


.bottom-right-fifth {
  position: absolute;
  width: 56.99px;
  height: 50.82px;
  bottom: 31px;
  right: 27px;
  opacity: 0px;
  transform: rotate(2deg);
}


.bottom-right-sixth {
  position: absolute;
  width: 56.99px;
  height: 50.82px;
  bottom: 38px;
  right: 33px;
  opacity: 0px;
  transform: rotate(2deg);
}


.bottom-right-seventh {
  position: absolute;
  width: 56.99px;
  height: 50.82px;
  bottom: 45px;
  right: 40px;
  opacity: 0px;
  transform: rotate(2deg);
}


.bottom-right-eight {
  position: absolute;
  width: 56.99px;
  height: 50.82px;
  bottom: 51px;
  right: 45px;
  opacity: 0px;
  transform: rotate(2deg);
}
